extend ./layouts/main-layout.pug
block content
  .container
    .banner 
      img(src="images/car-machine-2.jpg", alt="car")
    .query__area
      .query__left
        .brand
          select#brandList.select__box
            if brands.length  > 0
              each brand in brands 
                option(value=brand.id) #{brand.brand_name}
            
            option(selected='selected' value='0') Chọn hãng xe
        .model
          select#modelList.select__box(name='model_id')
            option(selected='selected' value='0') Chọn dòng xe
      .query__right 
        .year
          select#yearList.select__box
            if years.length  > 0
              each year in years 
                option(value=year) #{year}
            option(selected='selected' value='0') Chọn năm sản xuất
        .error__code
          select#errorList.select__box
            option(selected='selected' value='0') Chọn mã lỗi
    button#btnSubmit.btn Tra cứu              
      i.fa-solid.fa-magnifying-glass
    .output__area

    #about.about__section 
      h2.about__title About us 
      .user__list
        .user__card
          img.avatar(src="images/a1451.JPG" alt="avatar")
          h5.name Tuan Nguyen
          span.description Phone: 0387442515
          span.description Gmail: nguyenducminhtuan100@gmail.com
          span.description Nguyen Tat Thanh University
          .media 
            a.icon(href="https://www.facebook.com/profile.php?id=100010085977207" target="_blank" rel="noopener") 
              i.fa-brands.fa-facebook
            a.icon(href="#" target="_blank" rel="noopener") 
              i.fa-brands.fa-instagram
            a.icon(href="#" target="_blank" rel="noopener") 
              i.fa-brands.fa-telegram
        .user__card
          img.avatar(src="https://loremflickr.com/320/240" alt="avatar")
          h5.name Thach Tay
          span.description Phone: 0379777702
          span.description Gmail: thanhtayniie@gmail.com
          span.description Nguyen Tat Thanh University
          .media 
            a.icon(href="https://www.facebook.com/tay2509" target="_blank" rel="noopener") 
              i.fa-brands.fa-facebook
            a.icon(href="#" target="_blank" rel="noopener") 
              i.fa-brands.fa-instagram
            a.icon(href="#" target="_blank" rel="noopener") 
              i.fa-brands.fa-telegram
        .user__card
          img.avatar(src="https://loremflickr.com/320/240" alt="avatar")
          h5.name Minh Hien
          span.description Phone: 0943535514
           span.description Gmail: hien1010.a6.hv1718@gmail.com
          span.description Nguyen Tat Thanh University
          .media 
            a.icon(href="https://www.facebook.com/profile.php?id=100011439589479" target="_blank" rel="noopener") 
              i.fa-brands.fa-facebook
            a.icon(href="#" target="_blank" rel="noopener") 
              i.fa-brands.fa-instagram
            a.icon(href="#" target="_blank" rel="noopener") 
              i.fa-brands.fa-telegram


    script.
      $("#brandList").on("change", function () {
          let brand = $(this).val();
          
          $.get( "/models/" + brand, function( data ) {
            $("#modelList").empty();
            $('#modelList').append($('<option>', {
                value: 0,
                text: "Chọn dòng xe"
            }));
            $.each(data, function( index, obj) {
              $('#modelList').append($('<option>', {
                  value: obj.id,
                  text: obj.model_name
              }));
            });
          });
      });
      
      $("#modelList").on("change", function () {
          let model = $(this).val();
          
          $.get( "/errors/" + model, function( data ) {
            $("#errorList").empty();
            $('#errorList').append($('<option>', {
                value: 0,
                text: "Chọn mã lỗi"
            }));
            $.each(data, function( index, obj) {
              $('#errorList').append($('<option>', {
                  value: obj.id,
                  text: obj.error_code
              }));
            });
          });
      });

      $("#btnSubmit").on("click", function(){
        const data = {
          "error_code": $('#errorList').val(),
          "model_id": $('#modelList').val()
        }
        $.get( "result/" , data).done(function( data ) {
          console.log(data)
          $(".output__area").empty();
          $('.output__area').append($('<iframe>', {
            src: data.solution.replace("view", "preview"),
            width: '100%',
            height: '100%',
            allow: 'autoplay'
          }));
        });
      })
    
  //- script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2' crossorigin='anonymous')
